body {
  color: white;
  font-size: large;
  background-image: url("ObiWanBro.jpg");
  text-align: center;

}
h1 {

}
h3 {
  font-stretch: expanded;

}

.extreme{
  text-shadow: 4px 4px #FF0000;
}

.content{
  direction: rtl;
}

#tehlulz{
    color:lightsteelblue;
}
