

.extreme{
  text-shadow: 4px 4px #FF0000;
}
#head1{
  text-transform: full-width;

}
.navzone{
  background-repeat: repeat-x;
}
.content{
  direction: rtl;
}

.prose{
  text-align: right;
}

#tehlulz{
    color:lightsteelblue;
}
